################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mshdemo3
/mshdemo3/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json
/mshdemo3/bin/Release/net8.0/wwwroot/_framework/icudt_EFIGS.dat
